$back-color: #fff;
$text-color: #000;
$back-common-color: #f3f3f3;
$hover-color: #efefef;

$logo-size: 36px;
$nav-size: 24px;
$declare-title-size: 128px;

$title-first: 80px;
$title-first-mobile: 24px;

$title-second: 40px;
$title-second-mobile: 20px;

$title-third: 28px;
$title-third-mobile: 16px;

$text-content: 24px;
$text-content-mobile: 14px;

$text-gray: 16px;
$text-gray-mobile: 10px;

@mixin font-header {
  font-family: PingFang SC;
  font-weight: 400;
}

@mixin text-base {
  font-family: PingFang SC;
  font-weight: 400;
  color: $text-color;
}

@mixin Logo-size {
  @include font-header;
  font-size: $logo-size;
  color: $text-color;
}

@mixin nav-size {
  @include font-header;
  font-size: $nav-size;
  color: $text-color;
}

@mixin dec-title {
  font-family: PingFangSC-Heavy;
  font-weight: 400;
  font-size: $declare-title-size;
  color: $text-color;
}

@mixin dec-text {
  @include nav-size;
  line-height: 175%;
}

@mixin intro-title {
  @include Logo-size;
  font-weight: bold;
}

@mixin intro-text {
  @include dec-text;
  text-indent: 48px;
}

// $title-first: 80px;
// $title-first-mobile: 24px;

// $title-second: 40px;
// $title-second-mobile: 20px;

// $title-third: 28px;
// $title-third-mobile: 16px;

// $text-content: 24px;
// $text-content-mobile: 14px;

// $text-gray: 16px;
// $text-gray-mobile: 10px;

@mixin title-first-text {
  @include text-base;
  font-size: $title-first;
}

@mixin title-first-text-mobile {
  @include text-base;
  font-size: $title-first-mobile;
}

@mixin title-second-text {
  @include text-base;
  font-size: $title-second;
}

@mixin title-second-text-mobile {
  @include text-base;
  font-size: $title-second-mobile;
}

@mixin title-third-text {
  @include text-base;
  font-size: $title-third;
  color: $text-color;
}
@mixin title-third-text-mobile {
  @include text-base;
  font-size: $title-third-mobile;
  color: $text-color;
}

@mixin text-gray {
  @include text-base;
  font-size: $text-gray;
  color: rgba(0, 0, 0, 0.6);
  line-height: 155%;
}
@mixin text-gray-mobile {
  @include text-base;
  font-size: $text-gray-mobile;
  color: rgba(0, 0, 0, 0.6);
  line-height: 135%;
}

@mixin content-text {
  @include text-base;
  font-size: $text-content;
  line-height: 175%;
}

@mixin content-text-mobile {
  @include text-base;
  font-size: $text-content-mobile;
  line-height: 150%;
}

@mixin catalog-text {
  @include font-header;
  font-size: $nav-size;
  color: $text-color;
  font-weight: bold;
}
