@use "./base.scss";

.catalog-wrapper {
  width: 400px;
  height: auto;
  background-color: base.$back-color;
  position: absolute;
  top: 72px;
  z-index: 1;
  filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.1));
  position: fixed;
  transition: width 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .container {
    margin-top: 72px;
    margin-right: 40px;
    margin-bottom: 72px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    .item-wrapper {
      width: 100%;
      height: 40px;

      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .item {
        @include base.catalog-text;
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.5s;
      }

      &:hover {
        .item {
          color: rgb(0, 0, 0);
          transition: all 0.5s;
        }
      }

      &.active {
        background-color: base.$back-common-color;

        transition: all 0.5s;

        .item {
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 164px;

  background-color: base.$back-common-color;

  .blank-l {
    flex-basis: 580px;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 430px;
  }

  .content-container {
    flex-grow: 1;

    display: flex;
    align-items: center;
    padding-top: 32px;
    flex-direction: column;
    gap: 120px;

    max-width: 840px;

    .section {
      display: flex;
      flex-direction: column;
      align-items: center;
      //   justify-content: center;
      gap: 20px;
      //   width: 820px;

      .section-title {
        @include base.title-second-text;
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        width: 100%;
      }

      .section-words {
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap: 30px;

        .section-word {
          @include base.content-text;
          text-indent: 48px;
        }

        .pic {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .blank-r {
    flex-basis: 150px;
    flex-grow: 2.5;
    flex-shrink: 0;
  }
}

@media (max-width: 992px) {
  .catalog-wrapper {
    width: 200px;
    transition: width 0.3s ease-in-out;

    .container {
      margin-left: 0;
    }
  }

  #content-wrapper {
    .blank-l {
      flex-basis: 380px;
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 230px;
    }

    .blank-r {
      flex-basis: 60px;
      flex-grow: 2.5;
      flex-shrink: 0;
    }
  }
}

@media (max-width: 576px) {
  .catalog-wrapper {
    display: none;
  }
  #content-wrapper {
    .blank-l,
    .blank-r {
      display: none;
    }

    .content-container {
      padding: 32px 32px 0px 32px;
      .section {
        .section-title {
          @include base.title-second-text-mobile;
        }
        .section-words {
          .section-word {
            @include base.content-text-mobile;
          }
        }
      }
    }
  }
}
