@use "./base.scss";

.wrapper {
  width: 100%;
  height: 90px;
  padding: 0 242px;
  box-sizing: border-box;
  display: flex;
  //   justify-content: center;
  align-items: center;

  .nav-logo {
    @include base.Logo-size;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 173px;
    // width: 173px;
    height: 52px;
    line-height: 52px;
  }

  .nav-buttons {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 69px;

    .nav-button {
      @include base.nav-size;
      width: 110px;
      height: 40px;
      line-height: 40px;
    }
  }
}
