@use "./base.scss";
.wrapper {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: base.$back-color;

  gap: 149px;

  //   //   some test

  //   position: fixed;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   z-index: 2;
  //   //   end

  .logo {
    width: 327px;
    height: 53px;
    line-height: 53px;
    margin-top: 27px;
    @include base.Logo-size;
  }

  nav {
    ol {
      display: flex;
      gap: 53px;
      margin: 0;
      padding: 0;
      margin-top: 18px;
      .nav-item {
        text-decoration: none;
        @include base.nav-size;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        // 正常变化
        // transition: background-color 1s;
        // &:hover {
        //   background-color: base.$hover-color;
        //   transition: background-color 1s;
        // }

        // // 方向渐变
        // position: relative;
        // background-color: #fff;
        // &::before,
        // &::after {
        //   content: "";
        //   position: absolute;
        //   left: 0;
        //   top: 0;
        //   width: 0;
        //   height: 100%;
        //   background: #fff;
        //   z-index: -1;
        // }

        // &::before {
        //   z-index: 1;
        //   background-color: base.$hover-color;
        //   transition: 1s;
        // }

        // &:hover {
        //   background: transparent;
        // }

        // &:hover::before,
        // &:hover::after {
        //   width: 100%;
        // }

        a {
          text-decoration: none;
          color: base.$text-color;
          width: auto;
          height: 42px;
          margin: 0 10px;
          line-height: 42px;
          z-index: 2;
        }
      }
    }
  }
}

// media query
.wrapper {
  @media (max-width: 992px) {
    nav {
      display: none;
    }
  }
}
