@use "./base.scss";
.wrapper {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: base.$back-color;

  gap: 149px;

  //   //   some test

  //   position: fixed;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   z-index: 2;
  //   //   end

  .logo {
    width: 327px;
    height: 53px;
    line-height: 53px;
    margin-top: 27px;
    @include base.Logo-size;
  }

  nav {
    ol {
      display: flex;
      gap: 53px;
      margin: 0;
      padding: 0;
      margin-top: 18px;
      .nav-item {
        text-decoration: none;
        @include base.nav-size;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        a {
          text-decoration: none;
          color: base.$text-color;
          width: auto;
          height: 42px;
          margin: 0 10px;
          line-height: 42px;
        }
      }
    }
  }
}
