@use "./base.scss";

.banner {
  width: 100%;
  //   height: 972px;
  aspect-ratio: 1.78;
  background-image: url("../assets/bannerlow.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .declare {
    padding-top: 151px;
    display: flex;
    flex-direction: row;

    .blank-l {
      flex-grow: 1;
      flex-basis: 295px;
      flex-shrink: 1;
      height: auto;
    }

    .main-body {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 603px;

      .title {
        @include base.dec-title;
        transition: all 0.5s;
      }

      .text {
        width: 415px;
        height: 336px;
        @include base.dec-text;
        transition: all 0.5s;
      }
    }

    .blank-r {
      flex-grow: 1;
      flex-basis: 830px;
      //   flex-shrink: 0;
      height: auto;
    }
  }
}

.intro-wrapper {
  width: 100%;
  height: auto;
  background-color: base.$back-common-color;
  display: flex;
  justify-content: center;

  .intro-container {
    padding-top: 69px;
    padding-bottom: 121px;
    width: 880px;
    //

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    //
    .intro-title {
      @include base.intro-title;
    }
    .main-text {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .intro-main-text {
        @include base.intro-text;
      }
    }

    //
  }
}

.footer,
.page-header,
.page-header-common {
  width: 100%;
  //   height: 174px;
  aspect-ratio: 9.93;
  background-image: url("../assets/bannerlow.png");
  background-size: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  //   margin-top: 164px;

  .text {
    @include base.title-second-text;
    color: base.$back-color;
    // padding-top: 88px;
  }
}

.page-header {
  //   padding-top: 72px;
  display: flex;
  align-items: center;
  //   justify-content: center;
  .blank-l {
    flex-basis: 580px;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 430px;
  }

  .text {
    width: 100%;
    max-width: 840px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
    // flex-basis: 830px;
    @include base.title-first-text;
    color: base.$back-color;
    font-family: PingFangSC-Heavy;
  }

  .blank-r {
    flex-basis: 150px;
    flex-grow: 2.5;
    flex-shrink: 0;
  }
}

.page-header-common {
  display: flex;
  align-items: center;
  .text {
    width: 100%;
    // max-width: 840px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
    // flex-basis: 830px;
    @include base.title-first-text;
    color: base.$back-color;
    font-family: PingFangSC-Heavy;
  }
}

// media query

@media (max-width: 992px) {
  .banner {
    .declare {
      .main-body {
        flex-basis: 600px;
        width: 600px;
        .title {
          width: 200px;
        }
      }
    }
  }

  .intro-wrapper {
    .intro-container {
      width: 704px;
    }
  }

  .page-header,
  .page-header-common {
    .blank-l {
      flex-basis: 380px;
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 230px;
    }

    .text {
      font-size: 40px;
    }

    .blank-r {
      flex-basis: 60px;
      flex-grow: 2.5;
      flex-shrink: 0;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    .declare {
      padding-top: 50px;
      padding-bottom: 48px;
      .main-body {
        padding-left: 24px;
        flex-basis: 520px;
        width: 520px;
        .title {
          font-size: 64px;
          transition: all 0.5s;
        }

        .text {
          font-size: 16px;
          width: 300px;
          height: auto;
          transition: all 0.5s;
        }
      }
    }
  }

  .intro-wrapper {
    .intro-container {
      width: 540px;
    }
  }
}

@media (max-width: 576px) {
  .banner .declare {
    .main-body {
      flex-basis: 360px;
      width: 360px;
    }
  }
  .intro-wrapper {
    .intro-container {
      width: 330px;

      .intro-title {
        @include base.title-second-text-mobile;
      }

      .main-text {
        .intro-main-text {
          @include base.content-text-mobile;
        }
      }
    }
  }
  .page-header,
  .page-header-common {
    .blank-l,
    .blank-r {
      display: none;
    }

    .text {
      font-size: 20px;
    }
  }
}
